.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.navbar h1{
    /* font-size: 28px; */
    font-weight: bolder;
    color: #f0f0f0;
    text-decoration: none;  
    cursor: pointer;
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 18px;
    cursor: pointer;
}
.nav-connect{
    padding: 20px 50px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
    border: 1px solid #fff;
}